# See https://docs.github.com/get-started/getting-started-with-git/ignoring-files for more about ignoring files.

# Compiled output
/dist
/tmp
/out-tsc
/bazel-out
.env


# Node
/node_modules
npm-debug.log
yarn-error.log

# IDEs and editors
.idea/
.project
.classpath
.c9/
*.launch
.settings/
*.sublime-workspace

# Visual Studio Code
.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json
.history/*

# Miscellaneous
/.angular/cache
.sass-cache/
/connect.lock
/coverage
/libpeerconnection.log
testem.log
/typings

# System files
.DS_Store
Thumbs.db


 <!-- CARROSEL DE CARDS  -->
    <!-- <div class="grid grid-cols-3 w-full min-h-screen gap-7 px-6">
        <app-cards
        titulo="Simulador | Admissão"
        desc="Através deste serviço, você pode fazer uma simulação de custos e orçamento, através de alguns calculos de salário + encargos e alguns paramêtros nossos, de acordo com uma admissão de um funcionário"
        titulo_botao="Simular"
        rota="">
        </app-cards>

        <app-cards
        titulo="Simulador | Demissão"
        desc="Através deste serviço, você pode fazer uma simulação de custos e orçamento, através de alguns calculos de salário + encargos e alguns paramêtros nossos, de acordo com uma demissão de um funcionário"
        titulo_botao="Simular"
        rota="">
        </app-cards>

        <app-cards
        titulo="Simulador | Mérito & Promoção"
        desc="Através deste serviço, você pode fazer uma simulação de custos e orçamento, através de alguns calculos de salário + encargos e alguns paramêtros nossos, de acordo com mérito e promoção de um funcionário"
        titulo_botao="Simular"
        rota="">
        </app-cards>
    </div> -->