@import 'tailwindcss';
@plugin "tailwindcss-animate";

.quick {
  font-family: "Montserrat", sans-serif;
  font-optical-sizing: auto;
  font-weight: 530;
  font-style: normal;
}

.quickk {
  font-family: "Montserrat", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}

.kpi {
  font-family: "Manrope", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}