<div class="flex items-center justify-center rounded-3xl w-full p-12 bg-gray-900 flex-col">
     <p class="flex self-start bg-gray-600 p-3 rounded-xl text-white-900 font-mono text-white">{{titulo}}</p> 
     <h1 class="flex font-mono flex-nowrap items-center justify-center mt-4 bg-gray-600 rounded-xl w-full text-white p-4">{{desc}}</h1> 
     <a RouterLink="rota" class="bg-gray-400 text-black mt-5 rounded-lg p-4 w-58 h-12 self-start text-center hover:bg-gray-200 cursor-pointer transition-all 3500 ease-in-out font-mono flex items-center justify-center" href="">{{titulo_botao}}</a> 
</div>